{% extends '_base.html' %}

{% block full_title %}GistMail Admin{% endblock %}

{% block page %}
  <div class="landing-page">
    <div class="container">

      <section class="well">
        <h1>GistMail Admin</h1>
        <p>
          <form action="{{ url_for('incoming') }}" method="POST">
            <input type="hidden" name="subject" value="GistMail Test" />
            <input type="hidden" name="stripped-text" value="https://gistmail.com" />
            <div class="form-group">
              <input class="form-control" type="text" name="from" value="" placeholder="Email" />
            </div>
            <button class="btn btn-default btn-lg" type="submit">Test Email Handler</button>
          </form>
        </p>
      </section>

    </div>
  </div>
{% endblock %}
