{% extends '_base.html' %}

{% block full_title %}GistMail Admin{% endblock %}

{% block page %}
  <div class="landing-page">
    <div class="container">

      <section class="well">
        <h1>GistMail Admin</h1>
        <p>
          <form action="{{ url_for('incoming') }}" method="POST">
            <div class="form-group">
              <textarea class="form-control" name="mandrill_events" rows="10">{{ test_email_json }}</textarea>
            </div>
            <button type="submit">Test Email Handler</button>
          </form>
        </p>
      </section>

    </div>
  </div>
{% endblock %}
