{% extends '_base.html' %}

{% block full_title %}GistMail - Email gist@gistmail.com with a link and get a response with that article's summary{% endblock %}

{% block page %}
  <div class="landing-page">
    <div class="container">
      <header>
        <h1>GistMail</h1>
        <p>
          Email <a href="mailto:gist@gistmail.com">gist@gistmail.com</a> with a link and get a response with that article's summary.
        </p>
      </header>

      <section class="well">
        <h2>Examples</h2>
        <ul class="examples">
          <li><a href="mailto:gist@gistmail.com?subject=Gist+of+gistmail.com&amp;body=http://gistmail.com" target="_blank">gistmail.com</a></li>
        </ul>
      </section>

      {% if show_admin %}
        <section class="well">
          <h2>Admin</h2>
          <p>
            <form action="{{ url_for('incoming') }}" method="POST">
              <input type="hidden" name="mandrill_events" value="{{ test_email_json }}" />
              <button type="submit">Test Email Handler</button>
            </form>
          </p>
        </section>
      {% endif %}
    </div>
  </div>
{% endblock %}
