.landing-page {
  max-width: 600px;
  margin: 0 auto;
}

.landing-page header {
  text-align: center;
}

.landing-page header a {
  font-weight: bold;
}

.landing-page h2 {
  margin: 0;
}

.landing-page section {
  margin-top: 32px;
  text-align: center;
}

.landing-page .well {
  padding: 32px;
}

.landing-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.landing-page footer {
  border-top: 1px solid #ccc;
  margin-top: 32px;
  padding-top: 12px;
  text-align: center;
}

.social {
  display: none;
}
